<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

          <%= link_to "Bookers", "/", class: "navbar-brand" %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse show" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

              <% if user_signed_in? %>
                <li>
                  <a href="/" class="fas fa-home nav-link text-light"> Home</a>
                </li>
                <li>
                  <a href="users" class="fas fa-users nav-link text-light"> users</a>
                </li>
                <li>
                  <a href="books" class="fas fa-book-open nav-link text-light"> Books</a>
                </li>
                <li>
                  <a href=destroy_user_session_path, method: :delete class="fas fa-sign-out-alt nav-link text-light"> logout</a>
                </li>

              <% else %>
                <li>
                  <a href="/" class="fas fa-home nav-link text-light"> Home</a>
                </li>
                <li>
                  <a href="users/users/homes/about" class="fas fa-link nav-link text-light"> About</a>
                </li>
                <li>
                  <a href=new_user_registration_path class="fas fa-user-plus nav-link text-light"> sign up</a>
                </li>
                <li>
                  <a href=new_user_session_path class="fas fa-sign-in-alt nav-link text-light"> logout</a>
                </li>
              <% end %>

             </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
